.container_informationResetPassword {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: relative;
    bottom: 72%;
    left: 5%;
    text-align: center;
}

.password-requirements_resetPassword {
    width: 10rem;
    height: auto;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    position: relative;
    top: -1em;
    background-color: #b0b0b01f;
    border-radius: 15px;
    padding: 10px;
}

.password-requirements_resetPassword li {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
  }
  
  .password-requirements_resetPassword li.valid {
    color: #00843D;
  }
  
  .password-requirements_resetPassword li.invalid {
    color: #E53935;
  }