/* Estilos para el título y subtítulo */
.container_main_attendance {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.container_main_attendance h2 {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: 3rem 0 0rem 0;
}

.container_main_attendance>p {
    width: auto;
    height: auto;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.calendar-main-content {
    width: 50%;
    height: auto;
    display: flex;
    position: absolute;
    right: 45%;
    top: 25%;
}


/* Contenedor de la ilustración */
.illustration-container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: absolute;
    top: 25%;
    left: 60%;
}

.illustration-container img {
    width: 28rem;
    height: auto;
    margin-top: -12%;
    left: 15rem;
}

